body {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  background: #eee;
}

.container {
  margin: 20px auto;
  width: 270px;
  background: #fff;
  padding: 15px;
  text-align: center;
}